body {
  font-family: sans-serif;
}
h1,
h2 {
  color: white;
  padding: 15px;
  text-align: center;
  background-color: red;
}
.icon {
  width: 125px;
  height: auto;
}
.head {
  width: 250px;
  border: solid;
  padding: 25px;
  margin: 150px auto 0;
  text-align: center;
}
.head p {
  margin: auto;
}
span {
  color: red;
}

.head + div {
  margin-top: 150px;
  text-align: center;
}

.graph {
  display: flex;
}

.graph * {
  flex: auto;
}
