<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ asset('css/font.css') }}" rel="stylesheet"/>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>

		<title>Rapport</title>
	</head>
	<body>
		<img class="icon" src="{{ asset(rapport.logo)}}" alt="Logo {{rapport.client}}">
		<div class="title">
			<h1>Rapport Statistiques</h1>
		</div>

		<div class="head">
			<p>
				Client :
				<span>{{rapport.client}}</span>
			</p>

			<p>
				Date de la campagne :
				<span>{{rapport.date}}</span>
			</p>

			<p>
				Localisation :
				<span>{{rapport.localisation}}</span>
			</p>
		</div>

		<div>
			<img src="{{ asset('img/highconnexion_logo.png')}}" alt="Logo HighConnexion">
		</div>


		<h2>CAMPAGNE
			{{rapport.client}}
			-
			{{rapport.localisation}}
			: opérateurs</h2>

		<div class="graph">
			<canvas id="myChart" width="200" height="100"></canvas>
			<p>Total de SMS envoyés :
				<span>{{rapport.operateurs.total}}</span>
			</p>
		</div>

		<script>
			var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'pie',
data: {
labels: [
'Orange',
'Free',
'SFR',
'Bouygues',
'NRJ Mobile',
'Legos'
],
datasets: [
{
label: 'Nombre de SMS envoyés',
data: [
"{{ rapport.operateurs.orange }}",
"{{ rapport.operateurs.free }}",
"{{ rapport.operateurs.sfr }}",
"{{ rapport.operateurs.bouygues }}",
"{{ rapport.operateurs.nrjmobile }}",
"{{ rapport.operateurs.legos }}",

],
backgroundColor: [
'rgba(255, 99, 132, 0.2)',
'rgba(54, 162, 235, 0.2)',
'rgba(255, 206, 86, 0.2)',
'rgba(75, 192, 192, 0.2)',
'rgba(153, 102, 255, 0.2)',
'rgba(255, 159, 64, 0.2)'
],
borderColor: [
'rgba(255, 99, 132, 1)',
'rgba(54, 162, 235, 1)',
'rgba(255, 206, 86, 1)',
'rgba(75, 192, 192, 1)',
'rgba(153, 102, 255, 1)',
'rgba(255, 159, 64, 1)'
],
borderWidth: 1,
weight: 0.5
}
]
},
options: {
title: {
display: true,
text: 'STATISTIQUE PAR OPÉRATEUR'
}
}
});
		</script>
	</body>
</html>
